* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	
}

form {
	text-align: center;
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}
.nav{
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin-left: 25%;
	margin-right: 28%;
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;	
    align-items: center;
	overflow: hidden;
}
#nav1{
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin-left: 25%;
	margin-right: 20%;
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;	
    align-items: center;
	overflow: hidden;
}
.posts{
	margin-top: 10%;
}

.txtpost{
	height: 150px;
}
#c1{
	text-align: center;
	float: left;
	margin-right: 5px;	
}
  
  div.vaca img.iz {
	text-align: center;
	float: left;
	margin-right: 5px;
  }
  .titulo{
	float: left;
	margin-left: 20%;
  }
  #ta{
	margin-left: 35%;
  }
  #t1{
	float: left;
  }
  #t2{
	margin-left: 25%;
  }
  #ca{
	margin-left: 15%;
  }
  #aa{
	margin-right: 10%;
  }

  .contenedor {
	color: transparent;
  }
  .contenedor::-webkit-file-upload-button {
	visibility: hidden;
  }
  .contenedor::before {
	content: 'Select some files';
	color: black;
	display: inline-block;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
  }
  .contenedor:hover::before {
	border-color: black;
  }
  .contenedor:active {
	outline: 0;
  }
  .contenedor:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

  .ini{
	align-items: center;
	text-align: center;
  }
  div.noticias{	
	margin-top: 100px;
	align-items: center;
  }

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(206, 203, 203)
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}



.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
.blanco{
 color: white;
 text-align: center;
}
body{
	background-image:url(../IMG/fondolegal.jpg);
	width: 100%;
	height:100%vh;
	background-size: cover;
	color:white;
	
}
.mensaje{
	width: 100%;
	max-width: 350px;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	padding: 6px;
	color: red;

}
h6 {
	text-align: center;
	padding: 12px;
    color: rgb(206, 203, 203);
    line-height: 20px;
}
.gabo{
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
    margin-bottom: 30px;
    line-height: 20px;
}
header{
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    background-color: rgba(0, 0, 0,.3);
}
header h1{
    margin-left: 5px;
    align-items: center;
    width: calc(20% - 100px);
    font-family: montez;
    font-size: 55px;
}
header a{
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: all ease 300ms;
}
.login-box{
	background-image:url(../IMG/logogae.png);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.select {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
  }
  .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
	text-align: center;
	color: black;
    position: absolute;
    top: 20px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.canales{
	text-align: center;
	align-items: center;
}
.contenedorA{
	align-items: center;
	padding: 1em;
}
.anuncios{
	align-items: center;
	float: left;
}
#a1{
	margin-right: 2%;
}
#a2{
	margin-right: 2%;
}
.links{
	color: white;
}
@media only screen and (min-width:360px) and (max-width:757px){
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}
	input {
		width: calc(100% - 20px);
		padding: 9px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}
	body{
		background-image:url(../IMG/fondolegal.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		color:white;
		
	}

}
@media only screen and (min-width:280px) and (max-width:757px){
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}
	input {
		width: calc(100% - 20px);
		padding: 9px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}
	body{
		background-image:url(../IMG/fondolegal.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		color:white;
		
	}

}
@media only screen and (min-width:760px) and (max-width:1180px){
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}	
	input {
		width: calc(100% - 20px);
		padding: 20px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}
	body{
		background-image:url(../IMG/fondolegal.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		color:white;
		
	}
	.caja{
		margin-top: 30%;
	}
	header h1{
		margin-left: 10px;
		align-items: center;
		width: calc(20% - 100px);
		font-family: montez;
		font-size: 80px;
	}	
}
